<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is the description for Dustin Shahidehpour">
        
        <meta name="og:url" content="http://dustinshahidehpour.com/">
        <meta name="og:title" content="hacker, entrepreneur, engineer | johnsonjeff.com">
        <meta name="og:description" content="This is the description for Dustin Shahidehpour">
        <meta name="og:image" content="Insert Gravatar Image.">

        <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/static/css/theme.css">

        <title>Dustin Shahidehpour</title>
	</head>
	<body>
        <br>
        <div class="col-md-3">
            <a href="/">
                <img src="http://www.catster.com/files/short-hair-cat-01-shutterstock_129341936.jpg" height="200" width="200">
            </a>
            <h3>Dustin<strong>Shahidehpour</strong></h3>
        </div>

        {% block content %}
        {% endblock %}

        <!-- jQuery  -->
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
