Flask==0.10.1
Flask-FlatPages==0.5
Frozen-Flask==0.11
Jinja2==2.7.1
Markdown==2.3.1
MarkupSafe==0.18
PyYAML==3.10
Pygments==1.6
Unipath==1.0
Werkzeug==0.9.4
argparse==1.2.1
awscli==1.0.0
bcdoc==0.9.0
botocore==0.16.0
colorama==0.2.5
docutils==0.11
itsdangerous==0.23
jmespath==0.0.2
ply==3.4
pyasn1==0.1.7
python-dateutil==2.1
requests==1.2.0
rsa==3.1.1
six==1.4.1
wsgiref==0.1.2
