p{
    color:rgb(233,233,233);
}

.contact {
    color: white !important;
    width: 40px;
    padding-right: 8%;
}

.contact:hover {
    color: rgb(152, 218, 255) !important;
    text-decoration: none;
    transition: color .7s ease;
    -o-transition: color .7s ease;
    -webkit-transition: color .7s ease;
    -moz-transition: color .7s ease;
}

.contact-compact {
    color: rgb(152, 218, 255);
    padding-right: 3%;
}

.contact-compact:hover {
    color: white;
}

.container {
    background-color: rgb(83,83,83);
    margin-top: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    box-shadow: 0 0 5px rgb(136, 136, 136);
}

.content {
    margin: 2%;
}

.content a {
    color: rgb(152, 218, 255);
    text-decoration: none;
}

.content a:hover {
    color: white;
    transition: color 1s ease;
    -o-transition: color 1s ease;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    text-decoration: none;
}

.white {
    color: white;
}


h1,h2,h3,h4,h5,h6 { 
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.name {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

nav {
    font-family: 'Droid Sans', sans-serif;
    padding-top: 25px;
    height: 80px;
}

nav > span {
    font-size: 19px;
}

nav > span > a {
    color: white;
}

nav > span > a:hover{
    color: rgb(152, 218, 255);
    transition: color 1s ease;
    -o-transition: color 1s ease;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    text-decoration: none;
}

.nav-center {
    font-family: 'Droid Sans' sans-serif;
    font-weight: 300;
    text-align: center;
}

.page-title {
    margin-left:-15px;
    margin-right: -15px;
    min-height: 60px;
    background-color: rgb(165,218,252);
}

.page-title-text {
    font-family: 'Open Sans' sans-serif;
    font-weight: 300;
    padding-left: 30px;
    padding-top: 13px;
    font-size: 22px; 
    color:black;
 }

.picture { 
    margin: 2%;
}

.post {
    border-bottom: 1px solid rgb(238, 238, 238);
    max-width: 85%;
}

.post-title {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
}

.tag { 
    font-size: 20px;
}