.big-box { 
    background-color: rgb(0,180,255);
    min-height: 175px;
    margin: 8px 8px 20px 8px;
}

.box{
    background-color: rgb(81,81,81);
    height: 60px;
    margin: 8px;
    display: block;
    padding-top: 19px;
    padding-left: 5%;
    font-size: 20px;
    color: white;
}

.box:hover {
    background-color: rgb(255,153,0);
    color: white;
    transition: background-color .7s ease;
    -o-transition: background-color .7s ease;
    -webkit-transition: background-color .7s ease;
    -moz-transition: background-color .7s ease;
}

.contact {
    color: rgb(0,180,255);
}

.contact:hover{
    color: orange;
    transition: color .7s ease;
    -o-transition: color .7s ease;
    -webkit-transition: color .7s ease;
    -moz-transition: color .7s ease;
}

.container {
    font-family: 'Droid Sans', sans-serif;
}

.container a:hover {
    text-decoration: none;
}

.grey {
    color: rgb(104,104,104);
}

.middle {
    margin-top: 8%;
    padding-bottom: 5px;
}

#selected {
    color:white;
    background-color: rgb(255,153,0); 
}