{% extends "layouts/_base.html" %}
{% block head %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Feel Free to Contact Me!</h1>

    <p>I am really interested in feedback and hearing what people think of blog. Please leave some a comment
        or feel free to send me a email!<p><br>
    <p>If you have any recommendations of things would like me to blog about, please, send me a message!</p><br>
    <div class="col-md-1 col-sm-2 col-xs-3">
        <a class="contact" href="https://www.facebook.com/dustin.shahidehpour">
            <i class="icon-facebook-sign icon-4x"></i>
        </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-3 col-md-offset-1">
        <a class="contact" href="mailto:dshahidehpour@gmail.com">
            <i class="icon-envelope icon-4x"></i>
        </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-3 col-md-offset-1">
        <a class="contact" href="http://www.linkedin.com/pub/dustin-shahidehpour/3b/7a5/a08">
            <i class="icon-linkedin-sign icon-4x"></i>
        </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-3 col-md-offset-1">
        <a class="contact" href="https://github.com/dshahidehpour">
            <i class="icon-github-sign icon-4x"></i>
        </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-3 col-md-offset-1">
        <a class="contact" href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x5F69F8DECBEAA003">
            <i class="icon-certificate icon-4x"></i>
        </a>
    </div>
{% endblock %}