{% extends "layouts/_base.html" %}
{% block content %}
    <div class="col-md-8">
    </div>
    <br><br>
    <div>
        <span class="col-md-1 col-md-offset-1 contact facebook"><a href="https://www.facebook.com/dustin.shahidehpour">Facebook</a></span>
        <span class="col-md-1 col-md-offset-1 contact email"><a href="mailto:dshahidehpour@gmail.com">Mail</a></span>
        <span class="col-md-1 col-md-offset-1 contact linkedin"><a href="http://www.linkedin.com/pub/dustin-shahidehpour/3b/7a5/a08">LinkedIn</a></span>
        <span class="col-md-1 col-md-offset-1 contact github"><a href="https://github.com/dshahidehpour">Github</a></span>
        <span class="col-md-1 col-md-offset-1 contact pgp"><a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x5F69F8DECBEAA003">PGP</a></span>
    </div>
{% endblock %}