{% extends "layouts/_base.html" %}
{% block content %}
    <div class="col-group">
        <br>
    </div>
    <div class="col-group">
        <div class="offset-dt-1 col-dt-5 offset-0 col-5 col-mb-0">
            <img alt="Me, After finishing the Chicago Marathon" id="me" src="/static/img/me.jpg">
        </div>

        <div class="offset-1 col-dt-5 col-5 col-mb">
            <h2>Hi, My Name Is...</h2>
            <p>Dustin Shahidehpour. I am a Software Engineer from Chicago, Illinois who really loves <a href="http://python.org/" target="_blank">Python</a>.</p>
            <h2>When I'm Not Coding...</h2>
            <p>I am actively involved in the local marching percussion scene. <br><br>Currently, I am a member of the <a href="http://www.nba.com/bulls/news/stampede.html" target="_blank">Chicago Bulls Drumline</a>. I am also a tech for the <a href="http://troopersdrumcorps.org/home" target="_blank">Troopers Drum and Bugle Corps</a>. This winter, I have working with the <a href="https://www.facebook.com/PioneerIndoor" target="_blank">Pioneer Indoor Percussion Ensemble</a>.</p>
            <p>Recently, I decided to become more active. In October of 2013, I finished my first marathon! In 2014, I'm currently registered for 3 more, and a Triathalon.</p>
            <h2>If You Want To Contact Me...</h2>
            <p>feel free to contact/follow me through any of the links below. If you are looking for a resume, they are by request only.</p>
            <br>
        </div>
    </div>
        
{% endblock %}