{% extends "layouts/_base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>Posts</h1>
            {% for post in posts %}
                <br>
                <section class="post"> 
                    <a class="post-title" href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">{{ post.title }}</a><br>
                    <span class="white">Published on: {{ post.date }}</span><br><br>
                    <p>{{ post.body[50:250]|safe }}...</p>
                </section>
            {% endfor %}
        </div>
        <div class="col-md-2">
            <h1>Tags</h1><br>
            {% for tag in tags %}
            <a class="tag" href="/tag/{{tag}}">{{ tag }}</a><br>
            {% endfor %}
        </div>
    </div><br><br>
{% endblock %}