{% extends "layouts/_base.html" %}
  {% block content %}

    <h1>{{post.title}}</h1>
    <h3><i>{{post.date}}<i/></h3>
    {{ post.html|safe }}

    <div>
        Tags:
        {% for tag in post.meta.tags %}  
        <span class="label label-success">
            <a class="tag" href="{{ url_for("tag", tag=tag) }}">{{ tag }}</a>
        </span>&nbsp;
        {% endfor %}
        <br>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'dustinshahidehpour'; 
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	
    {% endblock %}
