{% extends "layouts/_base.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <h2 class="post-title">FreeDogScore</h2>
            <h5>Objective-C</h5>
        </div>
        <div class="row">
            <h2 class="post-title">Flippy</h2>
            <h5>Objective-C</h5>
        </div>
        <div class="row">
            <h2 class="post-title">DustinShahidehpour.com</h2>
            <h5>Python (Flask)</h5>
        </div>
        <div class="row">
            <h2 class="post-title">JueBox</h2>
            <h5>Python (Flask), Objective-C</h5>
        </div>
        <div class="row">
            <h2 class="post-title">RSS Reader</h2>
            <h5>Python (Flask)</h5>
        </div>
    </div>
{% endblock %}