{% extends "layouts/_base.html" %}
{% block content %}
    <div class="container middle">
        <div class="col-md-6 col-md-offset-3">
        <h1>{{ tag }}</h1>
        {% for page in pages %}
            <div class="post">
            <a href="{{ url_for("post", name=page.path.replace('posts/', '')) }}">{{page.meta.title}}</a>
            <span class="dark-grey"><i>{{ page.meta.date }}</i></span>
            </div>
        {% else %}
            <p class="grey">I haven't used this tag...yet.</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}
